* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'inter'sans-serif;
    background-color: #96D1F4;
}

nav {
    background: #35A9EB;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: absolute;
}

.logo a {
    font-family: montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
}

.menu {
    font-family: inter;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: #fff;
    line-height: 80px;
    font-weight: 600;
    padding: 0 25px;
    display: block;
    transition: .4s;
}

.menu ul li a:hover {
    color: #35A9EB;
    background: #fff;
    box-shadow: -1px 40px 35px -23px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -1px 40px 35px -23px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -1px 40px 35px -23px rgba(0, 0, 0, 0.45);
}

.content {
    width: 1400px;
    height: 700px;
    background: #fff;
    margin: auto;
    margin-top: 100px;
    position: relative;
    border-radius: 15px;
    box-shadow: -15px 17px 23px -10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -15px 17px 23px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -15px 17px 23px -10px rgba(0, 0, 0, 0.3);
}

.left {
    width: 40%;
    height: auto;
    position: absolute;
    left: 200px;
    top: 181px;
}

.left img {
    width: 60%;
    animation-name: imgmation;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.28, 0.27, 0.65, 0.65);
}

@keyframes imgmation {
    from {}

    to {
        margin-left: 20px;
    }
}

form {
    padding: 30px;
    position: absolute;
    right: 200px;
    top: 65px;
    background: #96D1F4;
    border-radius: 15px;
}

input {
    font-family: inter;
    font-size: 16px;
    padding: 20px 15px;
    width: 400px;
    border: none;
    background: #fff;
    margin-bottom: 30px;
    display: block;
    border-radius: 10px
}

input:focus {
    outline: none;
}

.btn {
    width: 200px;
    border: none;
    border-radius: 10px;
    background: #35A9EB;
}

.btn:focus {
    outline: none;
}

.btn a {
    font-family: inter;
    font-size: 16px;
    padding: 20px 15px;
    display: block;
    border-radius: 10px;
    transition: .4s;
    color: #fff;
}

.btn a:hover {
    border-radius: 10px;
    box-shadow: -1px 40px 35px -23px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -1px 40px 35px -23px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -1px 40px 35px -23px rgba(0, 0, 0, 0.45);
}

.backshep {
    width: 1400px;
    height: 600px;
    background: #35A9EB;
    position: absolute;
    top: 330px;
    left: 210px;
    border-radius: 15px;
    z-index: -99999;
    animation-name: backmation;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.28, 0.27, 0.65, 0.65);
}

@keyframes backmation {
    from {}

    to {
        margin-top: 20px;
    }
}
